# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CinemaApi.iml
# Datasource local storage ignored files
/../../../../../../../:\Webseiten\CinemaApi\CinemaApi\.idea\.idea.CinemaApi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
